<p
  style="margin:0; font-size:24px; line-height:32px; color:#272727; padding-bottom:12px;"
>Hello {{userName}},</p>
<p
  style="margin:0; font-size:16px; line-height:24px; color:#7c7c7c; padding-bottom:24px;"
>
  Thanks for joining us! You’re just one click away from unlocking everything
  we’ve prepared for you.
</p>
<a
  href="{{activationLink}}"
  class="cta-btn"
  style="margin-bottom:32px; background-color:#2e6e4c; border-radius:6px; color:#FFFFFF !important;
                        display:inline-block; font-size:16px; font-weight:700; line-height:24px;
                        padding:14px 28px; text-align:center; text-decoration:none;"
>
  Confirm&nbsp;your&nbsp;email
</a>
<p
  style="margin: 0 0 8px 0; font-size:12px; line-height:18px; color:#7c7c7c;"
>Trouble with the button? Copy and paste this link into your browser:</p>
<a href="{{activationLink}}" style="color:#2e6e4c;">{{activationLink}}</a>